<div class="col-4">
    <div class="card">
        <div class="row no-gutters">
            <div class="col-md-6">
                <img src={{dataValues.photo}} class="card-img" alt="...">
            </div>
            <div class="col-md-6">
                <div class="card-body">
                    <h5 class="card-title"><a href="/product/info/{{dataValues.id}}">{{dataValues.name}}</a></h5>
                    <p class="card-text">{{dataValues.instrumentFamily}} > {{dataValues.brand}} > {{dataValues.model}}</p>
                </div>
            </div>
        </div>
    </div>
</div>