<div class="col-4">
    <div class="card mt-2">
        <div class="row no-gutters">
            <div class="col-md-6">
                <img src={{dataValues.photo}} class="card-img" alt="...">
            </div>
            <div class="col-md-6">
                <div class="card-group">
                    <div class="card-body">
                        <h5 class="card-title">
                            <a href="/product/info/{{dataValues.id}}" class="product-link">
                                {{#toUpperCase dataValues.name}}{{/toUpperCase}}
                            </a>
                        </h5>
                        <p class="card-text">
                            Price: $ {{dataValues.price}}
                            Instrument: {{dataValues.instrumentFamily}}
                            Brand: {{dataValues.brand}}
                            Model: {{dataValues.model}}
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>