<div class="col-6 col-md-4 product-block">
    <div class="card mt-3">
        <div class="row no-gutters">
            <div class="col-md-6">
                <img src={{dataValues.photo}} class="card-img product-block-image" alt="...">
            </div>
            <div class="col-md-6">
                <div class="card-group">
                    <div class="card-body">
                        <h5 class="card-title">
                            <a href="/products/info/{{dataValues.id}}" class="product-link">
                                {{#toUpperCase dataValues.name}}{{/toUpperCase}}
                            </a>
                        </h5>
                        <p class="card-text">
                            Price: $ {{dataValues.price}}</br>
                            Instrument: {{dataValues.instrumentFamily}}</br>
                            Brand: {{dataValues.brand}}</br>
                            Model: {{dataValues.model}}
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>